/*
 * CONFIG
 */

// steps of luminance with restraints to return
const lumSet = {
  luminance: 10,
  start: 0.05,
  end: 0.95
};

// base hues to start from
const hueSet = {
  gray: {
    hue: 'B2B8BD',          // 205
    sat: null,
    shift: null,
  },
};

/*  eslint no-undef: "error"  */
module.exports = {
  lumSet,
  hueSet,
};
